body{
    color:rgb(89, 129, 214);
    background:rgb(144, 183, 228);
    margin: 0px;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color:rgb(27, 12, 231);
}

section {
    background:rgb(2, 2, 73);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
